<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <% if(kindOfDay === "monday") { %>
      <h1 style="color: blue"><%= kindOfDay %> ToDo list</h1>
    <% }else {%>
      <h1 style="color: red"> <%= kindOfDay %> ToDo list</h1>
    <%} %>
  </body>
</html>
